<div class="login-background">
    <div class="figure-container container-lg col-lg-10 d-flex">
        <figure class="figure mx-3 pt-5 d-none d-md-block">
            <img src="assets/images/welcome-login-image.svg" class="figure-img img-fluid rounded" alt="Welcome Back Image">
            <h1 class="display-2"><strong><b>Welcome Back!</b></strong></h1>
            <p>Welcome to the red hat bank. now give your money </p>
        </figure>
        <div class="container-lg login-container text-center position-relative justify-content-end d-inline-block">
            <h1 class="mt-2 mb-4 pb-4 login-text-customise">Login</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="">
                    <div class="form-group my-2">
                        <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="User Name">
                        <div *ngIf="loginForm.get('userName')?.hasError('required')" class="text-danger">
                            Username is required
                        </div>
                    </div>
                    <div class="form-group my-2">
                        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
                        <div *ngIf="loginForm.get('password')?.hasError('required')" class="text-danger">
                            Password is required
                        </div>
                    </div>
                    <button type="submit" class="btn btn-login w-100 mt-2 mb-0">LOGIN</button>
                </form>
            </div>
        </div>
    </div>

