<div class="justify-content-center align-items-center">
  <div class="jumbotron h-100 d-flex">
    <div class="container-fluid">
      <div class="container-fluid p-3 w-90">
        <button
          type="button"
          class="btn-close btn-close-red float-end"
          aria-label="Close"
          (click)="onCancel()"
        ></button>

        <h3 class="h3 text-center bold strong py-4">Create Customer Account</h3>
        <form
          [formGroup]="addCustomerForm"
          class="form-floating mb-3"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control"
              id="firstName"
              formControlName="firstName"
            />
            <label class="form-label" for="firstName">First Name</label>
            <div
              class=""
              *ngIf="addCustomerForm.get('firstName')?.hasError('required')"
            >
              First name is required
            </div>
          </div>
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control"
              id="lastName"
              formControlName="lastName"
            />
            <label class="form-label" for="lastName">Last Name</label>
            <div
              class=""
              *ngIf="addCustomerForm.get('lastName')?.hasError('required')"
            >
              Last name is required
            </div>
          </div>
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control"
              id="emailId"
              formControlName="emailId"
            />
            <label class="form-label" for="emailId">Last Name</label>
            <div
              class=""
              *ngIf="addCustomerForm.get('emailId')?.hasError('required')"
            >
              Email ID is required
            </div>
          </div>
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control"
              id="phoneNumber"
              formControlName="phoneNumber"
            />
            <label class="form-label" for="phoneNumber">Last Name</label>
            <div
              class=""
              *ngIf="addCustomerForm.get('phoneNumber')?.hasError('required')"
            >
              Phone Number is required
            </div>
          </div>
          <div class="form-floating mb-3">
            <select
              id="selectCity"
              formControlName="selectCity"
              class="form-select"
            >
              <option *ngFor="let city of citiesAvailable">
                {{ city }}
              </option>
            </select>
            <label for="selectCity">Select City</label>
          </div>
          <button
            type="submit"
            [disabled]="addCustomerForm.invalid"
            class="btn btn-danger w-100"
          >
            CREATE
          </button>
          <div class="pt-4"></div>
        </form>
      </div>
    </div>
  </div>
</div>
