<div class="justify-content-center align-items-center">
  <div class="jumbotron h-100 d-flex">
    <div class="container-fluid">
      <div class="container-fluid p-3 w-90">
        <button
          type="button"
          class="btn-close btn-close-red float-end"
          aria-label="Close"
          (click)="onCancel()"
        ></button>

        <h3 class="h3 text-center bold strong py-4">Create Savings Account</h3>
        <form
          [formGroup]="addSavingsAccountForm"
          class="form-floating mb-3"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control"
              id="customerId"
              formControlName="customerId"
            />
            <label class="form-label" for="customerId">Customer ID</label>
            <div
              class=""
              *ngIf="
                addSavingsAccountForm.get('customerId')?.hasError('required')
              "
            >
              Customer ID is required
            </div>
            <div
              class=""
              *ngIf="
                addSavingsAccountForm.get('customerId')?.hasError('pattern')
              "
            >
              Customer ID is number only
            </div>
          </div>
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control bg-light"
              id="name"
              formControlName="name"
              readonly
            />
            <label class="form-label" for="name">Name</label>
          </div>
          <div class="form-floating mb-2">
            <input
              type="text"
              class="form-control bg-light"
              id="phoneNumber"
              formControlName="phoneNumber"
              readonly
            />
            <label class="form-label" for="phoneNumber">Phone Number</label>
            <div
              class=""
              *ngIf="
                addSavingsAccountForm.get('phoneNumber')?.hasError('pattern')
              "
            >
              Phone Number is numeric only
            </div>
          </div>
          <div class="form-floating mb-2">
            <select
              id="minOpeningBalance"
              formControlName="minOpeningBalance"
              class="form-select"
            >
              <option
                *ngFor="let minOpeningBalance of minOpeningBalanceAvailable"
              >
                {{ minOpeningBalance }}
              </option>
            </select>
            <label for="minOpeningBalance">Min Opening Balance</label>
          </div>
          <div class="form-floating mb-2">
            <select
              id="interestCompoundingPeriod"
              formControlName="interestCompoundingPeriod"
              class="form-select"
            >
              <option
                *ngFor="
                  let interestCompoundingPeriod of interestCompoundingPeriodAvailable
                "
              >
                {{ interestCompoundingPeriod }}
              </option>
            </select>
            <label for="interestCompoundingPeriod"
              >Interest Compounding Period</label
            >
          </div>
          <div class="form-floating mb-2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
                (change)="onOverdraftToggleClick($event)"
              />
              <label class="form-check-label" for="flexCheckDefault">
                Allow Overdraft
              </label>
            </div>
          </div>
          <div *ngIf="allowOverdraftToggle" class="form-floating mb-3">
            <select
              id="overDraftLimit"
              formControlName="overDraftLimit"
              class="form-select"
            >
              <option *ngFor="let overDraftLimit of overdraftLimitAvailable">
                {{ overDraftLimit }}
              </option>
            </select>
            <label for="overDraftLimit">Over Draft Limit</label>
          </div>
          <div class="form-floating mb-3">
            <input type="file" class="form-control-file" id="documentUpload" />
          </div>
          <button
            type="submit"
            [disabled]="addSavingsAccountForm.invalid"
            class="btn btn-danger w-100"
          >
            CREATE
          </button>
          <div class="pt-4"></div>
        </form>
      </div>
    </div>
  </div>
</div>
