<nav class="navbar bg-dark fixed-bottom" data-bs-theme="dark">
    <div class="container-fluid col-lg-11">
        <div class="copyright-claim text-sm">
            © 2023, Red Hat Bank
        </div>
        <div class="footer-bar-items ms-auto me-2">
            <a class="navbar-brand text-sm" href="#">About Us.</a>
            <a class="navbar-brand text-sm" href="#">Blog.</a>
            <a class="navbar-brand text-sm" href="#">License.</a>
            <a class="navbar-brand text-sm" href="#">Contact Us</a>
        </div>
    </div>
</nav>
