<div class="background-customise pt-5">
    <div class="account-container col-xl-10 offset-lg-1 p-4">
      <app-account-template
        [searchText]="searchText"
        (onSearchClick)="getSearch($event)"
        (onCreateClick)="createNewLoanAccount($event)"
        accountName="Loan Account"
        buttonName="+Create Loan Account"
        searchPlaceHolder="Search By: Customer Name / Customer Id  / Customer Email / Customer Phone"
      />
      <app-table-template
        [columns]="tableColumns"
        [dataTable]="currentLoanAccounts"
      />
    </div>
  </div>