<div class="img-fluid loan-accounts-bg-image text-white p-4 container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 py-5">
            <div class="ps-3">
                <h1 class="thin-text">Loan Accounts</h1>
            </div>
            <div class="ps-4 pt-4">
                <button class="btn custom-btn mt-4" type="button">MANAGE</button>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 align-items-right justify-content-end d-none d-sm-block">
            <img src="assets/images/loan-accounts-home/loan-accounts-inside.png" alt="customer accounts image" class="custom-img mx-auto d-block"/>
        </div>
    </div>
</div>
